*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(43, 40, 40);
}
/* header */
header{
    display: flex;
    flex: 1;
    background-color: rgba(41, 43, 41, 0.021);
    height: 15vh;
    color: white;
    align-items: center;
    justify-content: center;
}
/* end of header */

/* calculator */
#calculator{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    max-width: 100vh;
    height: 30vh;
    margin: 5vh auto;
}

#input-number{
    padding: 16px 5px;
    margin: 20px auto;
    color: white;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(11, 13, 105, 0.123);
}

#calc-actions{
    margin: auto;
    width: 40vh;
    background-color: rgb(58, 67, 196);
    display: flex;
}

/* #btn-subtract, #btn-multiply, #btn-divide */
.button-style{
    background-color: rgba(11, 172, 212, 0.795);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    flex: 1;
    font-size: 17px;
}

/* end of calculator */

/* result */
#result{
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    max-width: 100vh;
    height: 20vh;
    margin: 5vh auto;
    color: white;
    font-size: small;
}

#current-calculation{
    margin: 10px;
}

#current-result{
    margin: 10px 0px;
}

/* media query */
@media screen and (max-width: 700px) {
    #header-text {
        height: 6vh;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    #calculator{
        border-radius: 10px;
        max-width: 60vh;
        height: 28vh;
        margin: 5vh auto;
    }

    #input-number{
        padding: 16px 5px;
        margin: 20px auto;
        display: flex;
        max-width: 24vh;
        border: 1.4px solid rgba(165, 162, 162, 0.61);
    }
    
    #result{
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        max-width: 60vh;
        height: 18vh;
        margin: 5vh auto;
    }
}
/* end  media query */
/* end of calculator */

